.gitcast-artical {
  margin-top:5px;
  margin-bottom:10px;
  margin-left:5px;
  margin-right:5px;
}
	
.gitcast-content {
  display: flex;
}

.gitcast-cover{
  margin-right:5px;
}

.gitcast-cover img {
  max-width: 300px;
  height: auto;
}

.gitcast-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.gitcast-header {
  display: flex;
}

.gitcast-title {
  flex: 1;
}

.gitcast-title h1 {
  margin-top:5px;
  margin-bottom:0px;
}

.gitcast-audiocontrol {
  align-self: center;
}

.gitcast-excerpt {
  flex: 1;
}

.gitcast-excerpt p {
  margin-top:5px;
  margin-bottom:5px;
  white-space:pre-wrap;
}

.gitcast-action {
  text-align: right;
}

@media only screen and (min-width: 561px) and (max-width: 850px) {
  .gitcast-content {
    flex-direction: row;
  }
  .gitcast-header {
    flex-direction: column;
  }
}

@media only screen and (min-width: 561px) and (max-width: 699px) {
  .gitcast-cover img {
    max-width: 200px;
    height: auto;
  }
}

@media only screen and (max-width: 560px) {
  .gitcast-content {
    flex-direction: column;
  }
  .gitcast-header {
    flex-direction: column;
  }
  .gitcast-cover {
    align-self: center;
  }
  .gitcast-cover img{
    max-width: 100%;
    height: auto;
  }
}
